h1 {
  text-align: center;
  font-size:48px;
  line-height:1.3;
  color:#8A0917;
  font-family: 'Bangers', cursive;
}
h3 {
  font-size:26px;
  color:#B8AE9C;
  font-family: 'Bangers', cursive;
}

.btn {
  background-color: #B8AE9C;
  color: #8A0917;
  font-family: 'Bangers', cursive;
}
.header {
  background-color:  white;
  border-radius: 5px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.create-account-section, .account-info-section {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left:25px;
  padding-right:25px;
  margin-top:15px;
}

.create-account-section, .account-info-section {
  margin: auto;
  margin-top: 20px;

}
form {
  margin-bottom: 10px;
}

input[type=radio]{
  margin-left: 6px;
  font-weight: 400;
}

.border-bottom {
  border-bottom: 1px #B8AE9C solid;
  padding-bottom: 2px;
}
.border {
  border-top: 1px #B8AE9C solid;
  padding-top: 5px;
  border-bottom: 1px #B8AE9C solid;
  padding-bottom: 2px;
}

body {
  background-color:#ACCFCC;
}
#show-account-info {
  font-family: 'Bangers', cursive;
  font-size:22px;
  color: #B8AE9C;

}

#show-account-info span {
  color: #8A0917;
}
